*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: black;
}
.card{
    width:90%;
    max-width: 470px;
    background: linear-gradient(135deg, #e2f048, #38cff1);
    box-shadow: 0 4px 30px rgba(234, 255, 176, 0.2), 0 0 10px rgba(188, 238, 238, 0.4);
    color: #fff;
    margin: 60px auto 60px;
    padding: 40px 35px;
    border-radius: 20px;
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    height:60px;
    background: #fff;
    text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.2);;
    padding: 10px 25px;
    border: 0;
    border-radius: 30px;
    outline: 0;
    flex:1;
    font-size: 18px;
    margin-right: 16px;
}

.search button{
    height:60px;
    width: 60px;
    border: 0;
    border-radius: 50%;
    background: #fff;
    outline: 0;
    cursor: pointer;
    transition: all 0.3s ease;
}
.search button:hover{
    filter: brightness(0.9);
    transform: scale(1.1);
}
.search button:active{
    filter: blur(1px);
    transform: scale(0.9);
}

.search button img{
    width: 40px;

}

.weather-icon{
    width: 250px;
    height: 200px;
    margin: 20px auto;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.windspeed-icon, .humidity-icon{
    width: 50px;
    height: 50px;
    margin: 20px auto;
}
.details{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 50px;
    margin-right: 10px;
}

.humidity,.wind{
    font-size: 28px;
    margin-top: -6px;
}
.weather{
    display: none;
}